{% extends 'base.html' %}

{% block content %}
    <div class="article-detail">
            <div class="article">
                {% if article.thumbnail.url != NULL %}
                <img src="{{ article.thumbnail.url }}" alt="thumbnail">
                {% endif %}
                <h1 class="title">{{ article.title }}</h2>
                <p class="created">Added on: {{ article.created }}</p>
                <p class="modified">Last modified: {{ article.modified }}</p>
                <p class="author">Author: {{ article.author }}</p>
                <p class="body">{{ article.body }}</p>
            </div>
    </div>

{% endblock %}